.card {
    background-color: rgb(223, 223, 189);
    border-radius: 20px;
    padding: 0.4rem;
    transition: transform 150ms ease;
    animation: shuffleAnim 0.5s ease;
    width: 220px;
    overflow: hidden;
}

.card img {
    border-radius: 15px;
    margin: auto;
    height: 100%;
    object-fit: cover;
}

.card:hover {
    box-shadow: 0 0 9px 2px yellow;
    transform: scale(1.05);
}

.clicked {
    border: 5px solid red;
}

@media (max-width: 699px) {
    .card {
        width: 45%;
        min-width: 150px;
    }
    .card:hover {
        box-shadow: none;
        transform: none;
      }
}

@keyframes shuffleAnim {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
        opacity: 0.9;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
